@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
        .header {
           
            padding-bottom: 28px;
        }
        .header-contacts {
            display: flex;
        gap: 40px;}
                .current::after {
                    top: 46px;
                }
        
        .hero-section {
            max-width: 1440px;
            padding-top: 188px;
                padding-bottom: 188px;
        }

.hero-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
}
    .section-list {
        flex-basis: calc((100% - 3*24px) / 4);
    }

    .icon-sub {
        display: flex;
    }

    .section-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .section-text {
        font-weight: 400;
    }

    .section-doing {
        display: block;
    }
        .container-mini {
            max-width: 1200px;
            margin: 0;}
        .team-section {
            padding: 120px 156px;
        }
.cards {
    width: calc((100% - 72px) / 4);
}
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);

    }
.team-cards {
    gap: 24px;
}

.footer-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
   padding:100px 159px 100px 156px;
}
.footer-part {
    margin-right: 120px;
}
.footer-subscribe {
    padding-bottom: 0;
}
.footer-part-two {
    margin-bottom: 0;
    margin-right: 80px;
}

}