:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#FFFFFF;
    --accent-color:#4D5AE5;
    --background-title-color:#2E2F42;
    --btn-hover-color:#404BBF;
    --team-section-color:#F4F4FD;
    --secondary-text-color:#434455;
    --border-color:#E7E9FC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}
ul {
    margin: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
            max-width:1158px;
            padding: 0 15px;
            margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color:var(--title-text-color);
}
.header-container {
display: flex;
align-items: flex-end;
}
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-list {
    display:flex;
    gap: 40px;
    
}

.logo-link {
    font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color);
       
}

.logo-part {
    color: var(--primary-text-color);
    margin-right: 76px;
}

.header-item {
font-weight: 500; 
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-item:hover,
.header-item:focus {
color: var(--accent-color);
}
.header-contacts {
    display: flex;
}

.header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-mail {
    color: var(--primary-text-color);
    margin-right: 40px;
}
.header-phone {
    color: var(--primary-text-color);
}
.header-mail:hover,
.header-mail:focus {
    color:var(--accent-color);
}

.header-phone:hover,
.header-phone:focus {
    color: var(--accent-color)
}

.hero-section {
    background-color:var(--background-title-color);
    text-align: center;
    margin-bottom: 120px;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 188px;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--title-text-color);
        line-height: 1.07;
     
}
.hero-btn {
    margin-bottom: 188px;
    padding: 16px 32px;
    border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
            border: none;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    font-family:'Roboto',sans-serif ;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover-color);
}
.section-features {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-text {
    margin:0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color)
}
.second-title {
    margin-top: 0;
    margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.second-section {
    display: flex;
    gap: 24px;
    justify-content:center;
    margin-bottom: 120px;
}
.team-section {
    background-color: var(--team-section-color)
}
.team-title {
    margin: 0;
    padding-top: 120px;
    margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        line-height: 1.11;
}
.team-cards {
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
    border: transparent;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team-names {
    padding-top: 32px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-description {
    padding-bottom: 32px;
    margin: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
}
.cards {
    background-color: var(--title-text-color);
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-title-color);
}
.footer-logo {
    color: var(--accent-color);
    font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 0.03em;;
        line-height: 1.16
    }

.footer-logo-part {
    color: var(--title-text-color);
}
.footer-text {
    margin: 0;
    margin-top: 16px;
    max-width: 264px;
    color: var(--title-text-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-btn-list {
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.portfolio-btn {
    padding:12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--accent-color);
    background-color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color:var(--title-text-color);
    background-color: var(--btn-hover-color);
}
.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.portfolio-item {
    width: calc((100%-72)/3);
    border: 1px solid var(--border-color);
}
.picture {
    width: calc((100%-72)/3);
}
.portfolio-list-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio-text {
    color: var(--secondary-text-color);
    line-height: 1.5;
        letter-spacing: 0.02em;
}